<!DOCTYPE html>
<html>
    <head>
        <title>PG_dataset</title>
         <link rel="stylesheet" type="text/css" href="/css/style.css">
         <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
        <body>
          
          <div class="info">
              <p class="text"> <h3>Help me create a dataset for predecting PAYING GUEST PRICE in your area.</h5>
              </p>    
              <p id="sec_">  <br>Add your address and cost of your accomodation.
              </p>         
          </div> 

            <form>

                <label for='todo'> ADDRESS </label >
                <input type="text" id='todo' >
                <span id="vals"> 
                <label for='price'>PRICE</label> 
                <input type="val" id='values'>
                </span>
                <input type="submit" value="submit" id="sub_btn" >

            </form>

            <ul class='todos'> </ul>

            <script src="client.js"></script> 

        </body>
</html>